/*===fonts===*/
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroylight.woff2") format("woff2"),
		 url("../fonts/gilroylight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
		 url("../fonts/gilroyextrabold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensanslight.woff2") format("woff2"),
		 url("../fonts/opensanslight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensans.woff2") format("woff2"),
		 url("../fonts/opensans.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
/*===global===*/
body {
	margin: 0;
	padding: 0;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	letter-spacing: 0.01em;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}
/*button*/
.button {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	line-height: 24px;
	color: rgba(0, 0, 0, 1);
	text-transform: uppercase;
	letter-spacing: 0.2em;

	background-color: #f0c52e;
	border: none;
}

.button:hover {
	/*transform: scale(1) ??????*/
}

.button:active {
	color: rgba(0, 0, 0, 0.3);
}
/*popup*/
.feedback {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #464646;

	background-color: #ffffff;
}

.feedback-field label {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	letter-spacing: 0em;
}

.feedback-field input {
	background-color: #f2f2f2;
}

.feedback-field textarea {
	background-color: #f2f2f2;
}

.feedback-field input:hover {
	background-color: #eaeaea;
}

.feedback-field textarea:hover {
	background-color: #eaeaea;
}

.feedback-field input:focus {
	background-color: #ffffff;
	border-color: #f7e296;
}

.feedback-field textarea:focus {
	background-color: #ffffff;
	border-color: #f7e296;
}
/* не знаю как сделать плейсхолдер при фокусе другого цвета
.feedback-field input:focus::placeholder,
.feedback-field textarea::placeholder:focus {
	color: #000000
}*/

.feedback-field input:invalid {
	background-color: #f6dada;
}

.button-close {
	background-color: rgba(240, 197, 46, 0.5);
}

.button-close:hover {
	background-color: rgba(240, 197, 46, 1);
}

.button-close:active {
	background-color: rgba(240, 197, 46, 0.3);
}
/*.button-close {
	width: 55px;
	height: 55px;

	background-image: url("../img/icons/modal-close.svg");
	background-repeat: no-repeat;
	background-clip: content-box;
	border: none;
}*/
/*===header===*/
.main-header {
	color: #000000;

	background-color: #f7e296;
}

.main-header-logo:hover {
	opacity: 0.6;
}

.main-header-logo:active {
	opacity: 0.3;
}

.main-navigation {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.catalog-menu {
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 15px;
	line-height: 36px;
	text-transform: none;
	letter-spacing: 0.01em;
}

.site-navigation span {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 42px;
	opacity: 0.3;
}

.user-navigation {
	list-style: none;
}

.site-navigation {
	list-style: none;
}

.catalog-menu {
	list-style: none;
}

.user-navigation a {
	color: rgba(0, 0, 0, 1);
}

.site-navigation a {
	color: rgba(0, 0, 0, 1);
}

.catalog-menu a {
	color: rgba(0, 0, 0, 1);
}

.user-navigation a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.catalog-menu a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.catalog-menu a:active {
	color: rgba(0, 0, 0, 0.3);
}
/*===main-footer===*/
.main-footer {
	background-color: #464646;
	color: #ffffff;
}

.main-footer address {
	font-style: normal;
}

.main-footer a {
	color: #ffffff;
}

.main-footer-logo:hover {
	opacity: 0.6;
}

.academy-logo:hover {
	opacity: 0.6;
}

.main-footer-logo:active {
	opacity: 0.3;
}

.academy:active {
	opacity: 0.3;
}

.footer-user-navigation {
	list-style: none;
}

.footer-site-navigation {
	list-style: none;
}

.our-social {
	list-style: none;
}

.footer-user-navigation a {
	color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover {
	color: rgba(255, 255, 255, 1);
}

.footer-user-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-site-navigation a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	line-height: 24px;
	color: rgba(255, 255, 255, 1);
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.footer-site-navigation a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}
/*===promo-slider===*/
.slider-list {
	list-style: none;
}

.slider-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 47px;
	line-height: 56px;
	color: #000000;
}

.slide-table .slide-table-value {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 36px;
	line-height: 48px;
	color: #000000;
}

.slide-table td {
	font-size: 13px;
	line-height: 20px;
}
/*===popular===*/
.popular-list {
	list-style: none;
}

/*.popular-item {
	background-color: rgba(240, 197, 46, 0.5);
}

.popular-item:hover {
	background-color: rgba(240, 197, 46, 1);
}

.popular-item:active {

}*/

.popular-link {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	line-height: 24px;
	color: rgba(0, 0, 0, 1);
}

.popular-link:active {
	color: rgba(0, 0, 0, 0.3);
}
/*===services===*/
.services {
	background-color: #e5e5e5;
}

.services-slider-button-list {
	list-style: none;
}

.services-slider-list {
	list-style: none;
}

.services-slider-list h2 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
}

.button-services:focus {
	color: #f7e184;
	/*width????*/
	background-color: #000000;
}
/*===brands===*/
.brands-list {
	list-style: none;
}

.brands-item {
	opacity: 0.3;
	filter: grayscale(1);
 }

 .brands-item:hover {
 	opacity: 1;
 	filter: none;
 }
/*===about-company===*/
.about-company h2 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
}

.about-us-list {
	list-style: none;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	line-height: 40px;
	color: #000000;
}
/*===catalog-container===*/
.container h1 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 47px;
	line-height: 48px;
	color: #000000
}

.breadcrumbs {
	font-size: 14px;
	line-height: 24px;
	opacity: 0.3;

	list-style: none;
}

.breadcrumbs a {
	color: #000000;
}

.breadcrumbs a:hover {
	opacity: 0.6;
}

.breadcrumbs a:active {
	opacity: 0.1;
}
/*===filters===*/
.filters h3 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.filter-title {
	background-color: #dbdbdb;
}

.filters form {
	background-color: #eeeeee;
}

.filters legend {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.price-hint {
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.2);
}

.filters label {
	font-size: 14px;
	line-height: 40px;
	color: #000000;
}

.filter-color-list {
	list-style: none;
}

.filter-bluetooth-list {
	list-style: none;
}
.sorting-category-list {
	list-style: none;
}

.sorting-priority-list {
	list-style: none;
}

.sorting-category {
	background-color: #ebebeb;
}

.sorting-link {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.3);
}

.sorting-link:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sorting-link:active {
	color: rgba(0, 0, 0, 1);
}
/*===catalog===*/
.catalog-list {
	list-style: none;
}

.catalog-item h3 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	line-height: 24px;
}

.catalog-item a {
	color: #000000;
}

.catalog-price {
	font-size: 16px;
	line-height: 24px;
}

.catalog-item a:hover {
	/*не знаю*/
}

.hover-catalog-item .button-compare {
	font-size: 13px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.5);
}

.hover-catalog-item .button-compare:hover {
	color: rgba(0, 0, 0, 1);
}

.hover-catalog-item .button-compare:active {
	color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
	list-style: none;
	background-color: #ebebeb;
}

.pagination-item {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	line-height: 24px;
}

.pagination-step-link {
	color: rgba(0, 0, 0, 1);
}

.pagination-step-item:hover {
	background-color: #d9d9d9;
}

.step-item:active {
	background-color: #d9d9d9;
}

.pagination-step-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.pagination-link {
	color: rgba(0, 0, 0, 0.3);
}

.pagination-link:hover {
	color: rgba(0, 0, 0, 0.6);
}

.pagination-link:active {
	color: rgba(0, 0, 0, 1);
}
